* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;

}
.header__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    box-sizing: border-box;

}
.header__menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
}
body {
    font-family: sans-serif;
}
.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.header__text {
    font-weight: 400;
    width: 425px;
}
.header__link {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
    margin-top: 86px;
}
.header-top {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    padding: 0 0 32px 0;
}
.header__info {
    flex-grow: 1;
    padding: 115px 0 190px 0;
    background-image: url(img/background-top.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}
.what-we-do {
    padding-top: 64px;
}
.what-we-do__card {
    max-width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 44px 32px;
    display: flex;
    flex-direction: column;
}

.card-box__header {
    padding: 50px 0 14px 0;
}
.card-box {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}
.card-box__img {
    align-self: center;
}
.card-box__link {
    text-decoration: none;
    padding: 28px 0 0 0;
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
}
.project__text {
    text-align: center;
    width: 75%;
    color: #222222;
    margin: 32px auto 64px;
}
.smart-home {
    padding-bottom: 32px;
    position: relative;
}
.smart-home__text {
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.smart-home__img {
    width: 100%;
}
.images {
    display: flex;
    justify-content: space-between;
}
.images__image {
    flex-grow: 1;
    position: relative;
}
.images__text{
    position: absolute;
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.images__first {
    margin-right: 32px;
}
.footer {
    background: #316099;
    margin-top: 112px;
    padding: 91px 0 64px 0;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;
}
.footer__top__content {
    width: 495px;
}
.footer__top__button_a {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    padding: 15px 80px;
    text-decoration: none;
}
.h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.footer__top__content__text {
    color: #FFFFFF;
}
.h3 {
    font-size: 36px;
    text-align: center;
}
.footer__header {
    width: 340px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-align: left;
    padding-bottom: 32px;
}
.footer__info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 64px 0;
    list-style-type: none;
}

hr {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}
.footer__info__list {
    flex-grow: 1;
    flex-basis: 33.333%;
    margin-right: 32px;
    display: flex;
}
.footer__info__list:first-child::before {
    content: 'A.';
    display: block;
    margin-right: 16px;
}
.footer__info__list:nth-child(2)::before {
    content: 'T.';
    display: block;
    margin-right: 16px;
}
.footer__info__list:last-child::before {
    content: 'E.';
    display: block;
    margin-right: 16px;
}
.footer__copy {
    font-size: 16px;
}
.footer__copy__text {
    color: #FFFFFF;
}
.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    text-transform: uppercase;
}
.inputtxtarea {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.header_info {
    background-image: url(img/contact-bg.svg);
    background-repeat: no-repeat;
    margin: 54px 0 57px 0;
    min-height: 250px;
}
.header_info__box {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}
.header_info__h2 {
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 51px 0 16px 0;
}
.header_info__text {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 49px;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    margin-bottom: 96px;
}
.header-address {
    padding: 56px 0 24px 0;
}
.header-phone {
    padding: 40px 0 24px 0;
}
.header__list {
    display: flex;
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.header-phone__list::before {
    content: url(img/phone.svg);
    display: block;
    margin-right: 18px;
}
.header-online {
    padding: 24px 0 24px 0;
}
.header-online__site::before {
    content: url(img/www.svg);
    display: block;
    margin: 4px 18px 0 0;
}
.header-online__email::before {
    content: url(img/email.svg);
    display: block;
    margin: 4px 18px 0 0;
}
.header__list__href {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}
.contacts-info {
    padding-top: 75px;
}
.form {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
    border-radius: 10px;
    min-width: 540px;
}
.header-send {
    padding-bottom: 48px;
}
.form__box {
    display: flex;
    flex-direction: column;
    padding: 56px 56px 56px 56px;
}
.form__text {
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}
.inputtxtarea {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.2;
    padding: 21px 42px;
    margin-bottom: 32px;
    max-height: 144px;
}
.button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 23px;
    border: 0;
    margin-top: 40px;
}
@media (max-width: 1196px) {
    .header {
        padding: 52px 32px 0 32px;
        box-sizing: border-box;
    }
    .header__menu {
        padding-top: 0;
    }
    .card-box {
        flex-direction: column;
        align-items: center;
        padding-bottom: 84px;
    }
    .what-we-do__card {
        margin: 0 215px 32px 215px;
    }
    .what-we-do__header {
        padding: 0 32px;
    }
    .footer {
        padding: 47px 0 64px 0;
    }
    .footer__top {
        padding: 0 124px 64px 124px;
    }
    .footer__top__button_a {
        padding: 3px 30px;
    }
    .footer__top__content {
        max-width: 336px;
    }
    .footer__bottom {
        padding: 0 124px 0 124px;
    }
    .footer__info {
        flex-direction: column;
        padding: 64px 0 39px 0;
    }
    .footer {
        margin-top: 107px;
    }
    .footer__info__list {
        padding-bottom: 25px;
    }
}
@media (max-width: 667px) {
    .header__info{
        background-image: none;
        padding: 91px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-top {
        width: 100%;
        text-align: center;
        font-size: 32px;
        line-height: 38px;
    }
    .header__text {
        width: 100%;
        text-align: center;
    }
    .header__link {
        margin-top: 32px;
        font-size: 12px;
        line-height: 26px;
        padding: 1px 8px;
    }
    .what-we-do {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 48px;
    }
    .what-we-do__header {
        font-size: 24px;
        line-height: 28px;
        padding: 0 17px;
    }
    .card-box {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    .what-we-do__card {
        padding: 40px 30px 22px 30px;
        margin: 0 19px 32px 19px;
    }
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15px;
    }
    .project__header {
        font-size: 24px;
        line-height: 28px;
    }
    .project__text {
        margin: 32px 0 82px 0;
        width: 100%;
    }
    .smart-home {
        margin: 0 17px;
        padding-bottom: 16px;
    }
    .smart-home__text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .images__text {
        font-size: 16px;
        line-height: 19px;
        top: 26px;
        left: 16px;
    }
    .images {
        flex-direction: column;
    }
    .images__first {
        margin-right: 0;
    }
    .images__image {
        margin: 0 17px;
        padding-bottom: 16px;
    }
    .footer__top {
        flex-direction: column;
        padding: 0 16px 41px 16px;
    }
    .footer {
        padding: 18px 0 32px 0;
        margin-top: 64px;
    }
    .footer__header {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 75%;
    }
    .footer__info {
        padding: 15px 0;
    }
    .footer__info__list {
        margin-right: 0;
        padding-bottom: 17px;
    }
    .footer__top__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__top__content__text {
        text-align: center;
        padding-bottom: 40px;
    }
    .footer__bottom {
        padding-left: 16px;
        padding: 0 16px 0 16px;
    }
    .footer__copy__text {
        text-align: center;
    }
}